<div class="container">
  <div class="row">
    <div class="col-6 offset-3">

      <h1>New Flat</h1>

      <%= render 'form', flat: @flat %>

      <%= link_to 'Back', flats_path %>

    </div>
  </div>
</div>
